[submodule "third_party/sputnik"]
	path = third_party/sputnik
	url = https://github.com/google-research/sputnik.git
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
